@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
}
.page1{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:white;
    gap:30vh;
}
.up{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position: relative;
    font-family:Poppins;
}
.up img{
    height:500px;
    width:300px;
}
.img1{
    position: absolute;
    top:30%;
    left:2%;
    transform:rotate(20deg);
    border-radius:30px;
}
.img2{
    position: absolute;
    top:90%;
    right:9%;
    transform:rotate(-20deg);
    border-radius:30px;
}
.up h1{
    font-size:150px;
    z-index: 99;
}
.up h3{
    font-size:90px;
    z-index: 99;
    color:rgb(224, 200, 255);
}

.down p{
    font-family:Poppins;
    font-size:30px;
    color:rgb(0, 250, 125);
}